<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<title>Create proposal</title>
</head>
<body>
<div class="container">
	<div class="row" style="margin-top:20px">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form th:action="@{/user/addProposal}" th:object="${addProposal}" method="POST">
				<fieldset>
					<h2>Add the proposal</h2>
					<label for="checkcat">Category:</label>

				<select class="form-control" th:field="*{category}">
				  <option th:each="category : ${categoriesList}"
						  th:value="${category.id}"
						  th:text="${category.name}"></option>
				</select>

				</span>
					<br/>
					<label for="checkcat">Content:</label>
					<div class="form-group">
					<textArea rows="10" type="proposal" name="text" id="text" th:field="*{text}" class="form-control input-lg">
					</textArea>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Add proposal"/>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="/user/home" class="btn btn-lg btn-primary btn-block">View proposals</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>