<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Participation System</title>
</head>
<body>
<center>
<h1>Participation System</h1>
</center>
<br/>
<div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                   
                    </div>
                    <div class="col col-xs-6 text-right">
                    	<a type="button" href="/user/addForm/" class="btn btn-sm btn-primary btn-create">Add proposal</a>
                  	</div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                     	
						<th class="text-center">Content</th>
					  	<th class="text-center">Category</th>
					  	<th class="text-center">Votes</th>
					  	<th></th>
					  	<th></th>
						<tr th:each="proposal : *{proposals}" th:with="proposalId=${proposal.getId()}">
							  	    <td class="text-center" th:text="${proposal.content}"/>
							  	    <td class="text-center" th:text="${proposal.getCategoryName()}"/>
							  	    <td class="text-center" th:text="${proposal.votes}"/>
							  	<td class="text-center">
							  	<a th:href="${'/user/voteProposal/'+ proposal.getId()}" 
							  	    	class="btn btn-primary">Vote</a>
							    </td>
								<td class="text-center"><a class="btn-primary btn"
										 th:href="${'/user/viewProposal/'+ proposal.getId()}">
								       View details</a>
								</td>
                          </tr>
                </table>
                </div>
            </div>
			<a href="/participants/userInfo" class="btn btn-primary"><i class="icon-home"></i>Update</a>
            <a href="/logout" class="btn btn-primary"><i class="icon-home icon-white"></i>Logout</a>

</div>

</body>
</html>